name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */6 * * *"  # every 6 hours
  workflow_dispatch:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Node (required for snk)
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Generate Snake Animation (light)
        uses: Platane/snk@v3
        with:
          github_user_name: rojeshhumagain
          output: output/github-contribution-grid-snake.svg
          palette: github-light

      - name: Generate Snake Animation (dark)
        uses: Platane/snk@v3
        with:
          github_user_name: rojeshhumagain
          output: output/github-contribution-grid-snake-dark.svg
          palette: github-dark

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: output
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
